.contact{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
    background-image: url("../images/contact-background.jpg"); 
}
.contact__body{
    display: flex;
    width: 60vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.87;
    position: relative;
}
.contact__about{
    flex: 0.5;
    background-color: #1b1c23;
    color: whitesmoke;
    padding: 100px 40px;
}
.contact__about > h2{
    margin-bottom: 5px;
}
.contact__about > h5{
    margin-bottom: 30px;
}
.contact__form{
    flex: 0.5;
    padding: 40px;
    background-color: white;
}
.contact__form > form{
    display: flex;
    flex-direction: column;
}
.form__inputs {
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 1px solid grey;
}
.form__inputs > p{
    margin-bottom: 10px;
}
.form__inputs > input{ 
    border: none;
    background-color: transparent;
}
.message{
    border: 1px solid grey;
    height: 150px;
}
.form__inputs >input:focus{
    outline: none;
}
.contact__form > h2{
    margin-bottom: 20px;
}
.contact__tools{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.contact__tools > img{
    width: 60px;
    object-fit: contain;
    margin-left: 10px;
}
.form__sendEmail{
    background-color: #11131f;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.form__sendEmail:hover{
    background-color: white;
    border: 1px solid #11131f;
    color: #11131f;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.contact__home{
    position: absolute;
    top: 40px;
    font-size: 30px !important;
}
.contact__about > a{
    color: white;
    text-decoration: none;
}
@media screen and (max-width:991px) {
    .contact__body{
        flex-direction: column-reverse;
        margin-top: 15vh;
    }
}