.projects{
    margin-top: 100px;
    margin-bottom: 200px;
}
.projects > h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
}
.projects__right{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 100px;
}
.projects__left{
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    margin-top: 100px;
}
@media screen and (max-width:769px) {
    .projects__left{
        justify-content: center;
        margin-left: 0px;
    }
    .projects__right{
        justify-content: center;
        margin-right: 0px;
    }
}