.skills__row1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}
.skills > h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
}