@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');
.areas{
    padding-top: 4rem;
    padding-bottom: 6rem;
    background-color: #09080d;
    min-height: 100svh;
    font-family: 'Cormorant Garamond', serif;
}
.areas__cardarea {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
}
.areas__card {
    border: 1px solid #3b3b3b;
    width: 100%;
    display:flex;
    align-items: center;
}
.card__textarea{
    flex: 1;
    color: #dddddd;;
}
.card__image{
    flex: 1;
    display: flex;
}
.card__image > img{
    width: 100%;
    flex: 1;
}

