.homeContent{
    background-image: url("../images/61305e71313e0.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    backdrop-filter: blur(5px);
    background-color: rosybrown;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center ;
}
.homeContent__title{
    color: white;
}
.homeContent__title > h1{
    font-size: 4em;
    text-align: center;
}
.homeContent__title > p{
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    font-weight: 600;
}
.homeContent__contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.homeContent__contact > a > button{
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: transparent;
    color: lightgray;
    cursor: pointer;
}
.homeContent__contact > a > button:hover{
    color: black;
    background-color: lightgray;
}