.homeContent{
    background-image: url("../images/61305e71313e0.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    backdrop-filter: blur(5px);
    background-color: rosybrown;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center ;

    /* animations */
    animation-name: reveal;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes reveal{
    0%{
        width: 100vw;
    }
    100%{
        width: 0vw;
    }
}

.homeContent__title{
    color: white;
}
.homeContent__heading{
    font-size: 4em;
    text-align: center;
}
.homeContent__caption{
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    font-weight: 600;
}

.homeContent__contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.homeContent__btn{
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: transparent;
    color: lightgray;
    cursor: pointer;
}
.homeContent__btn:hover{
    color: black;
    background-color: lightgray;
}
@media screen and (max-width:420px) {
    .homeContent__title > h1{
        font-size: 3em;
    }
}