@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');
body{
    overflow-x: hidden;
}

.headings {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: left;
}

.headings > h1{
    font-family: 'Cormorant Garamond', serif;
    color: #dddddd;
    font-size: 4rem;
    text-transform: uppercase;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
    width: 90vw;
}